body{
    background-color:black;
    color:white;
    font-family: 'Caveat', cursive;
    text-align: center;
    margin: 3rem 7rem;
}
p{font-size:4rem;
}
h1{font-size: 5rem;
}

#main{
    font-weight:400;
    text-align:center;
}
.subh{
    font-size: 3rem;
}